@{
  Layout = "_Layout";
}

@using BakeryDB.Models;

<h3>@Model["vendor"].Name</h3>
<p>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
@if (@Model["orders"].Count > 0)
{
  <ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>Ord: @order.DateOrdered, Rec: @order.DateRec</a></li>
  }
  </ol>
}
else
{
  <p>Vendor has no Orders in the system.</p>
}
<p>_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
<p><a href='/vendors/@Model["vendor"].Id/orders/new'>1. Add Order</a></p>
<p><a href='/vendors'>2. Vendor List</a></p>
<p><a href='/vendor/delete/@Model["vendor"].Id'>3. Delete Vendor</a></p>
<p><a href='/'>4. Main</a></p>